QSVM
===============================

In [5]:
import qiskit
versions = qiskit.__version__
print("The version of Qiskit is",versions)

The version of Qiskit is 1.0.2

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

DIR = "./Dataset/FloodPrediction_Modified.csv"
data = pd.read_csv(DIR).fillna(0)
data.head()

,Flood?,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Avg Temp
0,0,68.0,0.453704,0.6,7.831915,20.85
1,0,63.0,0.659259,0.9,8.314894,24.55
2,0,59.0,1.085185,1.5,8.131915,28.45
3,0,71.0,1.772222,3.9,8.219149,28.90
4,0,76.0,1.703704,4.1,7.046809,30.30

In [2]:
x=data.drop(labels=["Flood?"],axis=1)
x

,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Avg Temp
0,68.0,0.453704,0.6,7.831915,20.85
1,63.0,0.659259,0.9,8.314894,24.55
2,59.0,1.085185,1.5,8.131915,28.45
3,71.0,1.772222,3.9,8.219149,28.90
4,76.0,1.703704,4.1,7.046809,30.30
...,...,...,...,...,...
19991,88.0,2.500000,6.2,3.800000,28.95
19992,88.0,3.000000,6.1,4.200000,29.15
19993,85.0,2.500000,4.4,5.600000,28.95
19994,79.0,2.100000,1.7,8.400000,26.25
19995,72.0,3.000000,0.9,8.100000,23.20

In [3]:
y=data.iloc[:,0]
y

0        0
1        0
2        0
3        0
4        0
        ..
19991    1
19992    0
19993    0
19994    0
19995    0
Name: Flood?, Length: 19996, dtype: int64

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Avg Temp
8770,81.000000,2.600000,1.2,5.400000,18.2
8764,84.000000,3.000000,5.8,5.100000,31.5
17088,80.000000,0.900000,3.8,6.800000,31.1
18552,81.333333,1.668519,6.7,6.025000,29.2
11922,75.000000,0.300000,0.7,7.068966,19.8

In [11]:
import matplotlib.pyplot as plt
import numpy as np
from qiskit_algorithms.state_fidelities import ComputeUncompute
from qiskit.primitives import Sampler

fidelity = ComputeUncompute(sampler=Sampler())

In [14]:
from qiskit_machine_learning.kernels import FidelityQuantumKernel
from qiskit.circuit.library import ZZFeatureMap

feature_map = ZZFeatureMap(2)
q_kernel = FidelityQuantumKernel(feature_map=feature_map, fidelity=fidelity)

In [17]:
from qiskit_machine_learning.algorithms import QSVC

qsvc = QSVC(quantum_kernel=q_kernel)
qsvc.fit(x_train[0:100], y_train[0:100])
print("done fitting")
qsvc.score(x_test[0:100], y_test[0:100])

done fitting

0.77

In [19]:
qsvc.score(x_test[0:500], y_test[0:500])

0.784

In [20]:
qsvc1 = QSVC(quantum_kernel=q_kernel)
qsvc1.fit(x_train[0:500], y_train[0:500])
qsvc1.score(x_test[0:100], y_test[0:100])

0.77

In [ ]:
qsvc.score(x_test[0:500], y_test[0:500])

In [ ]:
qsvc2 = QSVC(quantum_kernel=q_kernel)
qsvc2.fit(x_train[0:1000], y_train[0:1000])
qsvc2.score(x_test, y_test)